.button-cadastro, .button-publisher, .button-form{
    background-color: var(--cor-button);
    height: 30px;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.button-cadastro:hover, .button-publisher:hover, .button-form:hover {
    background-color: var(--cor-button-hover);
}

.button-form{
    margin-top: 10px;
    width: 100%;
    font-size: inherit;
}
