body{ 
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%; */
    height: 100vh;
    margin: auto;
    background-image: url("../assets/images/quadrinhos2.jpg");    
}
.cadastro{
    display: flex;
    align-items: start;
    padding: 15px;
    width: 350px;
    height: auto; 
    /* height: 450px;  */
    margin: auto;
    border-radius: 10px;
    background-color: var(--cor-footer);
    /* background-color: yellowgreen; */
}

.cadastro form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    font-family: var(--fonte-geral);
    font-size: 1rem;
    color: azure;
    width: inherit;
    background-color: inherit;
    
}

.cadastro form h2{
    align-self: center;
    color: yellow;
    background-color: inherit;
}

.cadastro form h5{
    align-self: center;
    background-color: inherit;
}

.cadastro form input{
    font-size: inherit;
    background-color: azure;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.cadastro form label{
    background-color: inherit;
}

.button{
    margin-top: 10px;
    width: 100%;
    font-size: inherit;
}

.button-cadastro, .button-cadastro:hover{
    background-color: grey;
}

/* .button-cadastro:hover{
    background-color: grey;
} */