@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root{
    --cor-fundo: #131b28;
    --cor-header: #283038;
    --cor-main: #1f2b39;
    --cor-footer: #283038;
    --cor-button: #5953e6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
}


.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: bold;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.direitos{
    display: flex;
    padding: 0px 0px;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: inherit;
    width: 80px;
}

.direitos img{
    background-color: inherit;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    height: 100vh;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-header);
    max-width: 100%;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 40px;
    /*padding-left: 40px;
    padding-right: 40px;*/
    position: sticky;
    top:0;
}

#pesquisa{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2px;
    max-width: 50%;
    height: 40px;
    gap: 5px;
    background-color: aliceblue;
    border-radius: 20px;
}

#pesquisa input{
    padding: 5px 10px;
    width: 95%;
    height: 40px;
    border: none;
    text-align: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: aliceblue;
}

#pesquisa input:focus,
#pesquisa input:focus-visible {
    outline: none;
    box-shadow: none;
}

#pesquisa img{
    background-color: inherit;
    border-radius: 20px;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 25px;
}

main{
    display: grid;
    justify-content: center;
    padding: 20px 0;
    grid-template-columns: repeat(4, 230px);
    gap: 20px;
}

main div{
    background-color: var(--cor-main);
    height: 380px;
    text-align: center;
    color: white;
    border: 2px #2d3446 solid;
    border-radius: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-footer);
    max-width: 100%;
    height: 90px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px 40px;
    /*padding-left: 40px;
    padding-right: 40px;*/
    position:sticky;
    bottom:0;
}

footer ul{
    background-color: inherit;
}

footer ul li{
    list-style-type: none;
    background-color: inherit;
    font-size: .7rem;
    padding: 2px 0px;
}

footer ul li span{
    font-style: bold;
    color: yellow;
    background-color: inherit;
    text-decoration: none;
}

footer h6{
    background-color: inherit;
    color: white;
    font-size: 0.5rem;   
}

footer ul li a{
    text-decoration: none;
    color: white;
    background-color: inherit;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    background-color: inherit;
}

nav a{
    text-decoration: none;
    background-color: inherit;
    color: white;
}

.button{
    background-color: var(--cor-button);
    height: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}